<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Firebase App</title>
</head>
<body>
    <h1>Welcome to Flask Firebase App</h1>
    <a href="/add">Add Data</a> | <a href="/get">View Data</a>
</body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD</title>
</head>
<body>
    <h2>Flask CRUD - Users</h2>
    
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required> <br>
        <input type="email" name="email" placeholder="Enter Email" required><br>
        <button type="submit">Add User</button>
    </form>

    <h3>Users List</h3>
    <ul>
        {% for user in users %}
        <li>
            {{ user.name }} ({{ user.email }})
            <a href="{{ url_for('edit_user', id=user.id) }}">Edit</a> | 
            <a href="{{ url_for('delete_user', id=user.id) }}" onclick="return confirm('Are you sure?');">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html> -->
